<h1>Add your todo</h1>

<form method="post" action="/">
    <p>Todo: <input type="text" name="todo" id=""></p>
    <p>Expire: <input type="date" value="<%= moment().format('YYYY-MM-DD')%>" name="expire" id=""></p>
    <p><input type="submit" name="" id=""></p>
</form>
<a href="/">Back to Home</a>